.overlay{
    position:absolute;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width:100%;
    z-index: 10;
    justify-content: center;
    text-align: center;

}

.mainImag img {
    object-fit: cover;
    border-radius:15px;
    width:34rem;
    margin-top:7.5rem;
}

.subImage{
    display:flex;
    gap:.5rem;
    margin-top:1.5rem;
    margin-left:27rem;
}

/* the close */

.close{
    fill:white;
    position:relative;
    height:1.5rem;
    top:6rem;
    cursor:pointer;
    left:16rem;
}

/* the arrow images */

.prev{
    display:inline-block;
    background-color:white;
    border-radius:50%;
    cursor:pointer;
    padding:1.3rem;
    height:1rem;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    top:25rem;
    right:16rem;
}

.next{
    cursor:pointer;
    display:inline-block;
    background-color:white;
    border-radius: 50%;
    padding:1.3rem;
    height:1rem;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    top:25rem;
    left:15rem;
}




@media screen and (max-width:768px){

    .overlay{
        display:none;
    }

}
